.catkin_workspace
build/
devel/
install/
src/matlab_gen
src/dbw_mkz_msgs
src/controller/matlab/slprj
src/controller/matlab/PID_ros_ert_rtw
src/controller/matlab/DOB_ros_ert_rtw
src/controller/matlab/DOB_ros_const_ert_rtw
src/controller/matlab/buold_ros_model.sh

*.*.save

# QtCreator files
*.*.user
*.*.autosave

# KDevelop files
*.kdev4

# CLion
*.idea

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#temporary files
*~

# vi stuff
.*.sw?

# Python stuff
*.pyc

# Data files
*.dat
*.csv
*.bag

# Emacs temp files
.#*

# OSX Files
.DS_Store

# Sublime project files
*.sublime-project
*.sublime-workspace
