<launch>
   <arg name="ds" default="10"/>
   <param name="/comp_error/ds" value="$(arg ds)"/>
   <!--node name="reconfigure_gui" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" /-->
   <node name="plotter"  pkg="simu"  type="plotter_no_reference_no_obstacle_sine.py" output="screen"/>
   <node name="comp_error"  pkg="controller"  type="comp_error_node_sim"/>
   <node name="RL_control"  pkg="planning_policy"  type="RL_control_bicycle_sine.py" output="screen"/>
   <node name="ZOH"  pkg="planning_policy"  type="ZOH.py"/>
</launch>
