<launch>
   <node name="plotter"  pkg="simu"  type="plotter.py" output="screen"/>
   <node name="simu" pkg="simu" type="simu_env" output="screen"/>
   <node name="comp_error"  pkg="controller"  type="comp_error_node" output="screen"/>
   <node name="reconfigure_gui" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" />
   <node name="dob_ros"  pkg="dob_ros"  type="dob_ros_node" output="screen"/>
   <node name="toy_planning"  pkg="planning_policy"  type="toy_planner.py" output="screen"/>
  
</launch>


